.card{
    width: 350px;
    display: flex;
    background-color: black;
    color: aliceblue;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
  
}

.trash{
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
  
}

.trash:hover{
    opacity: 0.5;
}

